<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-stripe-tap-to-pay" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-stripe-tap-to-pay</name>
    <js-module name="cordova-plugin-stripe-tap-to-pay" src="www/cordova-plugin-stripe-tap-to-pay.js">
        <clobbers target="cordova.plugins.stripeTapToPay" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
        <feature name="CDVStripeTapToPay">
            <param name="ios-package" value="CDVStripeTapToPay" />
        </feature>
        </config-file>
        <config-file target="*-Debug.plist" parent="com.apple.developer.proximity-reader.payment.acceptance">
            <true/>
          </config-file>
        <config-file target="*-Release.plist" parent="com.apple.developer.proximity-reader.payment.acceptance">
            <true/>
          </config-file>
        <source-file src="src/ios/cordova-plugin-stripe-tap-to-pay.swift" />
        <source-file src="src/ios/cordova-plugin-stripe-tap-to-pay-utils.swift" />
        <podspec>
          <config>
            <source url="https://github.com/CocoaPods/Specs.git"/>
          </config>
          <pods use-frameworks="true">
            <pod name="StripeTerminal" spec="~> 3.0" />
          </pods>
        </podspec>
    </platform>
</plugin>
